<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
p {

    display: flex;
} 
body {
    background-color: {{bg_color}};
}
h1 {
    font-size: 80px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: {{font_color}};
    margin-left: 10%;
    margin-top: 20%;
}
</style>
</head>
<body>

    <div>
        <h1>Congratulations!</h1><h2>You have successfully deployed the application!</h2>
    </div>

</body>
</html>
